<div id="content-container">
  <div id="game-container">
    <div id="main-game-container">
      <app-player-avatar
        playerHealth="{{ player.health }}"
        playerName="{{ player.name }}"
        src="{{ player.image }}"
      />
      <app-player-options
        [options]="options"
        currentChoice="{{ choices.playerChoice }}"
        playerType="{{ player.type }}"
        [isAbleToPlay]="isAbleToPlay"
        (setPlayerChoice)="handleChoice($event)"
      />
      <app-player-options
        [options]="options"
        currentChoice="{{ choices.computerChoice }}"
        playerType="{{ computer.type }}"
      />
      <app-player-avatar
        playerHealth="{{ computer.health }}"
        playerName="{{ computer.name }}"
        src="{{ computer.image }}"
      />
    </div>
    <div *ngIf="message" id="game-message-container">
      <span>{{ message }}</span>
    </div>
    <div id="submit-game-container">
      <button *ngIf="choices.playerChoice && !message" (click)="submit()">
        FIGHT
      </button>
    </div>
  </div>
</div>
