<div class="content-container">
  <div id="reset-game-container">
    <button id="reset-btn" class="game-btn" (click)="resetGame()">RESET</button>
  </div>
  <div id="game-container">
    <div id="main-game-container" *ngIf="players">
      <app-player-avatar [player]="players['player']" />
      <app-player-options
        [options]="options"
        currentChoice="{{ choices.playerChoice }}"
        playerType="{{ players['player'].type }}"
        [isAbleToPlay]="isAbleToPlay"
        (setPlayerChoice)="handleChoice($event)"
      />
      <app-player-options
        [options]="options"
        currentChoice="{{ choices.computerChoice }}"
        playerType="{{ players['computer'].type }}"
      />
      <app-player-avatar [player]="players['computer']" />
    </div>
    <div *ngIf="message" id="game-message-container">
      <span id="game-message">{{ message }}</span>
    </div>
    <div id="submit-game-container">
      <button
        class="game-btn"
        *ngIf="choices.playerChoice && !message"
        (click)="submit()"
      >
        FIGHT
      </button>
    </div>
  </div>
</div>
