#reset-game-container
  width: 100%
  height: 5%
  display: flex
  justify-content: center

#reset-btn
  width: 100px
  height: 100%
  font-size: 1.5rem
  padding-bottom: 20px

#game-container
  width: 100%
  height: 95%
  display: flex
  flex-direction: column

#main-game-container
  width: 100%
  height: 70%
  display: flex
  flex-direction: row
  justify-content: space-around
  align-items: center

#game-message-container
  display: flex
  justify-content: center
  align-items: center
  span
    font-size: 3rem

#submit-game-container
  width: 100%
  height: 20%
  display: flex
  justify-content: center
  align-items: center
  margin-top: 1rem
